body {
    background: #4df200;
background: -webkit-linear-gradient(to right, #05e6ae, #f2f200);
background: #42bff5;
}

* {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
  }

.growmore header{
    font-size: 50px;
    font-weight: 550;
}

.growmore{
    background: #8b5bc9;
    padding: 10px;
    margin: 150px auto;
    width: 400px;
    min-height: auto;
    border-radius: 1px;
    
}

.growmore .form .inputBox {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 10px 0;
}

.growmore .form .inputBox input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 320px;
    height: 100%;
    outline: none;
    border-radius: 0px;
    transition: 0.3s border-color ease;
    font-size: medium;
  }

.growmore .form .inputBox button {
    width: 55px;
    height: 100%;
    background: gold;
    min-width: 50px;
    border: none;
    color: blue;
    transition: 0.3s background-color ease;
    cursor: pointer;
    outline: none;
    font-size: 20px;
    margin-left: 5px;
    opacity: 0.6;
    pointer-events: none;
}

.growmore .form .inputBox button.active {
    opacity: 1;
    pointer-events: auto;
}
/*.growmore .form .inputBox button:hover {
    background: yellow;
}*/

.growmore #tasks {
    list-style: none;
    max-height: 400px;
    overflow-y: auto;
}

.growmore #tasks li{
    margin-bottom: 8px;
    background:orange;
    border-radius: 5px;
    position: relative;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    cursor: default;
    overflow: hidden;
}

.growmore #tasks li span {
    background: red;
    color: green;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 1s;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: -45px;
    width: 45px;
    text-align: center;
    transition: all 0.5s ease;
}

.growmore #tasks li:hover span {
    right: 0px;
}

.growmore .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}

.growmore .footer button {
    background: green;
    border: solid black 2px;
    color: black;
    outline: none;
    font-size: 15px;
    padding: 6px 15px;
    transition: 0.5s background-color ease;
    opacity: 0.6;
    pointer-events: none;
}

.growmore .footer button.active{
    opacity: 1;
    pointer-events: auto;
}

.growmore .footer button:hover {
    background-color:pink;
}